
<app-header></app-header>

<main id="main">
  
  <div class="container2">
    <h1>
      O que é Central de Atendimento à Mulher – Ligue 180?
    </h1>
    <h1 class="title2">Ligue 180</h1>
    <p class="description">
        O <strong>Ligue 180</strong> é um serviço gratuito e confidencial criado para ajudar mulheres que enfrentam qualquer tipo de violência. Por meio dele, é possível fazer denúncias, pedir ajuda e receber orientações sobre como agir em situações de risco.
    </p>
    <p class="description">
        Além de ouvir e acolher, a central encaminha as denúncias para os órgãos responsáveis e acompanha o andamento dos casos. Também oferece informações sobre os direitos das mulheres e sobre os serviços especializados que podem dar suporte, como delegacias, casas de acolhimento e atendimento psicológico.
    </p>
    <p class="description">
        O <strong>Ligue 180 funciona 24 horas por dia, todos os dias da semana, incluindo sábados, domingos e feriados.</strong> As denúncias são gratuitas e anônimas, e cada caso recebe um número de protocolo para que a pessoa possa acompanhar o andamento.
    </p>
    <p class="call-to-action">
        Se você ou alguém que você conhece precisar de ajuda, <strong>ligue 180</strong>. Você não está sozinha! 🧡
    </p>
  
    <div class="container">
      <h1>Quem pode denunciar pelo Ligue 180?</h1>
      <p class="description">
          A antiga frase "Em briga de marido e mulher, ninguém mete a colher" não vale mais! Agora, o certo é: "Em briga de marido e mulher, se mete o faqueiro inteiro!", isso significa que toda a sociedade tem a responsabilidade de proteger e apoiar as mulheres em situação de violência.
      </p>
      <p class="description">
          Qualquer pessoa pode denunciar casos de agressão, seja um amigo, vizinho, familiar ou até um desconhecido que presenciou algo suspeito. A denúncia pode salvar vidas!
      </p>
      
      <h1>O que é a violência doméstica e familiar contra a mulher?</h1>
      <p class="description">
          A violência doméstica acontece quando uma mulher sofre agressões dentro de casa ou por alguém com quem tem (ou teve) um vínculo afetivo. Isso inclui não apenas companheiros e ex-companheiros, mas também familiares como pais, filhos e outros parentes próximos.
      </p>
      <p class="description">
          Esse tipo de violência pode ser física, psicológica, sexual, moral ou financeira, e é a principal causa de feminicídio no Brasil e no mundo. Violência contra a mulher é crime e deve ser denunciada!
      </p>
      
      <h1>Onde mais as mulheres podem buscar apoio além do Ligue 180?</h1>
      <p class="description">
          Além do Ligue 180, existem diversos serviços públicos que oferecem acolhimento e suporte para mulheres em situação de violência e seus filhos. Essa rede de atendimento envolve áreas como justiça, saúde, segurança e assistência social, garantindo proteção e encaminhamentos adequados para cada caso.
      </p>
      <p class="description">
          Os principais locais de apoio incluem:
      </p>
      <ul class="description">
          🔹 Delegacias Especializadas de Atendimento à Mulher (DEAMs) e Delegacias de Defesa da Mulher (DDMs) – Para registrar denúncias e solicitar medidas protetivas.<br>
          🔹 Juizados de Violência Doméstica e Promotorias Especializadas – Para tratar dos aspectos jurídicos dos casos.<br>
          🔹 Centros de Referência de Atendimento à Mulher – Oferecem apoio psicológico, social e jurídico.<br>
          🔹 Defensorias Públicas com Núcleos de Atendimento à Mulher – Garantem assistência jurídica gratuita.<br>
          🔹 Patrulhas/Rondas Maria da Penha – Monitoram casos de risco e fiscalizam medidas protetivas.<br>
          🔹 Casas-Abrigo e Casas da Mulher Brasileira – Locais seguros para mulheres que precisam sair de casa por risco de violência.<br>
          🔹 Serviços da Câmara Municipal de Natal – A Câmara Municipal de Natal dispõe de iniciativas que fazem parte da rede de enfrentamento à violência contra as mulheres, oferecendo suporte jurídico, psicológico e social para vítimas de violência.<br>
      </ul>
      
      <h1>Disque 100 – Pronto-Socorro dos Direitos Humanos</h1>
      <p class="description">
          O Disque 100 é um serviço gratuito que atende casos urgentes de violência e outras violações de direitos humanos, acionando os órgãos responsáveis para garantir uma resposta rápida. Quando possível, o serviço possibilita o flagrante do agressor.
      </p>
      
      <h1>Como denunciar pelo Disque 100?</h1>
      <p class="description">
          Pelo Telegram: Busque por “DireitosHumanosBrasil” ou acesse este link <a href="https://t.me/Direitoshumanosbrasilbot" target="_blank">aqui</a>.
      </p>
      <p class="description">
          Pelo WhatsApp: Envie uma mensagem para (61) 99611-0100 ou clique <a href="https://wa.me/5561996110100" target="_blank">aqui</a> para iniciar o atendimento.
      </p>
      <p class="description">
          O serviço também oferece suporte em Língua Brasileira de Sinais (Libras) para pessoas surdas ou com deficiência auditiva.
      </p>
  </div>


  <h1>Local de atendimento médico Especializado a Mulher</h1>
  <div class="grid">
    <div class="card">
      <h1 class="title">Maternidade Escola Januário Cicco - MEJC/UFRN</h1>
      <div class="info-row">
        <a class="label" 
           href="https://www.google.com/maps/search/?api=1&query=Av.%20Nilo%20Pe%C3%A7anha%2C%20259%20-%20Petr%C3%B3polis%2C%20Natal%20-%20RN%2C%2059012-310" 
           target="_blank" 
           rel="noopener noreferrer">
          Av. Nilo Peçanha, 259 - Petrópolis, Natal - RN, 59012-310
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 3215-5969.</span>
      </div>
    </div>
  </div>
  <h1>Delegacia Especializada de Atendimento à Mulher em Natal e Região</h1>
  <div class="grid">
      <app-delegacy-card *ngFor="let delegacy of natalDelegacies" [delegacy]="delegacy"></app-delegacy-card>
  </div>


  <h1>Delegacia Especializada de Atendimento à Mulher no interior do estado</h1>
  <div class="grid">
      <app-delegacy-card *ngFor="let delegacy of interiorDelegacies" [delegacy]="delegacy"></app-delegacy-card>
  </div>
</div>
</main>