
<app-header></app-header>

<main id="main">
  
  <div class="container2">
    <h1>
      O que é Central de Atendimento à Mulher – Ligue 180?
    </h1>
    <h1 class="title2">Ligue 180</h1>
    <p class="description">
        O <strong>Ligue 180</strong> é um serviço gratuito e confidencial criado para ajudar mulheres que enfrentam qualquer tipo de violência. Por meio dele, é possível fazer denúncias, pedir ajuda e receber orientações sobre como agir em situações de risco.
    </p>
    <p class="description">
        Além de ouvir e acolher, a central encaminha as denúncias para os órgãos responsáveis e acompanha o andamento dos casos. Também oferece informações sobre os direitos das mulheres e sobre os serviços especializados que podem dar suporte, como delegacias, casas de acolhimento e atendimento psicológico.
    </p>
    <p class="description">
        O <strong>Ligue 180 funciona 24 horas por dia, todos os dias da semana, incluindo sábados, domingos e feriados.</strong> As denúncias são gratuitas e anônimas, e cada caso recebe um número de protocolo para que a pessoa possa acompanhar o andamento.
    </p>
    <p class="call-to-action">
        Se você ou alguém que você conhece precisar de ajuda, <strong>ligue 180</strong>. Você não está sozinha! 🧡
    </p>
  
    <div class="container">
      <h1>Quem pode denunciar pelo Ligue 180?</h1>
      <p class="description">
          A antiga frase "Em briga de marido e mulher, ninguém mete a colher" não vale mais! Agora, o certo é: "Em briga de marido e mulher, se mete o faqueiro inteiro!", isso significa que toda a sociedade tem a responsabilidade de proteger e apoiar as mulheres em situação de violência.
      </p>
      <p class="description">
          Qualquer pessoa pode denunciar casos de agressão, seja um amigo, vizinho, familiar ou até um desconhecido que presenciou algo suspeito. A denúncia pode salvar vidas!
      </p>
      
      <h1>O que é a violência doméstica e familiar contra a mulher?</h1>
      <p class="description">
          A violência doméstica acontece quando uma mulher sofre agressões dentro de casa ou por alguém com quem tem (ou teve) um vínculo afetivo. Isso inclui não apenas companheiros e ex-companheiros, mas também familiares como pais, filhos e outros parentes próximos.
      </p>
      <p class="description">
          Esse tipo de violência pode ser física, psicológica, sexual, moral ou financeira, e é a principal causa de feminicídio no Brasil e no mundo. Violência contra a mulher é crime e deve ser denunciada!
      </p>
      
      <h1>Onde mais as mulheres podem buscar apoio além do Ligue 180?</h1>
      <p class="description">
          Além do Ligue 180, existem diversos serviços públicos que oferecem acolhimento e suporte para mulheres em situação de violência e seus filhos. Essa rede de atendimento envolve áreas como justiça, saúde, segurança e assistência social, garantindo proteção e encaminhamentos adequados para cada caso.
      </p>
      <p class="description">
          Os principais locais de apoio incluem:
      </p>
      <ul class="description">
          🔹 Delegacias Especializadas de Atendimento à Mulher (DEAMs) e Delegacias de Defesa da Mulher (DDMs) – Para registrar denúncias e solicitar medidas protetivas.<br>
          🔹 Juizados de Violência Doméstica e Promotorias Especializadas – Para tratar dos aspectos jurídicos dos casos.<br>
          🔹 Centros de Referência de Atendimento à Mulher – Oferecem apoio psicológico, social e jurídico.<br>
          🔹 Defensorias Públicas com Núcleos de Atendimento à Mulher – Garantem assistência jurídica gratuita.<br>
          🔹 Patrulhas/Rondas Maria da Penha – Monitoram casos de risco e fiscalizam medidas protetivas.<br>
          🔹 Casas-Abrigo e Casas da Mulher Brasileira – Locais seguros para mulheres que precisam sair de casa por risco de violência.<br>
          🔹 Serviços da Câmara Municipal de Natal – A Câmara Municipal de Natal dispõe de iniciativas que fazem parte da rede de enfrentamento à violência contra as mulheres, oferecendo suporte jurídico, psicológico e social para vítimas de violência.<br>
      </ul>
      
      <h1>Disque 100 – Pronto-Socorro dos Direitos Humanos</h1>
      <p class="description">
          O Disque 100 é um serviço gratuito que atende casos urgentes de violência e outras violações de direitos humanos, acionando os órgãos responsáveis para garantir uma resposta rápida. Quando possível, o serviço possibilita o flagrante do agressor.
      </p>
      
      <h1>Como denunciar pelo Disque 100?</h1>
      <p class="description">
          Pelo Telegram: Busque por “DireitosHumanosBrasil” ou acesse este link <a href="https://t.me/Direitoshumanosbrasilbot" target="_blank">aqui</a>.
      </p>
      <p class="description">
          Pelo WhatsApp: Envie uma mensagem para (61) 99611-0100 ou clique <a href="https://wa.me/5561996110100" target="_blank">aqui</a> para iniciar o atendimento.
      </p>
      <p class="description">
          O serviço também oferece suporte em Língua Brasileira de Sinais (Libras) para pessoas surdas ou com deficiência auditiva.
      </p>
  </div>


  <h1>Local de atendimento médico Especializado a Mulher</h1>
  <div class="grid">
    <div class="card">
      <h1 class="title">Maternidade Escola Januário Cicco - MEJC/UFRN</h1>
      <div class="info-row">
        <a class="label" 
           href="https://www.google.com/maps/search/?api=1&query=Av.%20Nilo%20Pe%C3%A7anha%2C%20259%20-%20Petr%C3%B3polis%2C%20Natal%20-%20RN%2C%2059012-310" 
           target="_blank" 
           rel="noopener noreferrer">
          Av. Nilo Peçanha, 259 - Petrópolis, Natal - RN, 59012-310
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 3215-5969.</span>
      </div>
    </div>
  </div>
  <h1>Delegacia Especializada de Atendimento à Mulher em Natal e Região</h1>
  <div class="grid">
    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Natal</h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=Av.%20Capit%C3%A3o-Mor%20Gouveia%2C%201339%20-%20Nossa%20Sra.%20de%20Nazar%C3%A9%2C%20Natal%20-%20RN%2C%2059060-400" target="_blank" rel="noopener noreferrer">
          Av. Capitão-Mor Gouveia, 1339 - Nossa Sra. de Nazaré, Natal - RN, 59060-400.
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 98135-8077.</span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Natal</h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=R.%20do%20Saneamento%2C%2028%20-%20Ribeira%2C%20Natal%20-%20RN%2C%2059012-410" target="_blank" rel="noopener noreferrer">
          R. do Saneamento, 28 - Ribeira, Natal - RN, 59012-410.
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 3232-2526.</span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Natal </h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=R.%20Nossa%20Sra.%20de%20Candel%C3%A1ria%20-%20Candel%C3%A1ria%2C%20Natal%20-%20RN%2C%2059065-490" target="_blank" rel="noopener noreferrer">
          R. Nossa Sra. de Candelária - Candelária, Natal - RN, 59065-490
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 3232-2530</span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Natal </h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=Av.%20Hermes%20da%20Fonseca%2C%201174%20-%20Tirol%2C%20Natal%20-%20RN%2C%2059020-315" target="_blank" rel="noopener noreferrer">
          Av. Hermes da Fonseca, 1174 - Tirol, Natal - RN, 59020-315
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: </span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Natal </h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=Av.%20Guadalupe%2C%202145%20-%20Potengi%2C%20Natal%20-%20RN%2C%2059112-560" target="_blank" rel="noopener noreferrer">
          Av. Guadalupe, 2145 - Potengi, Natal - RN, 59112-560
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 98135-6792</span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Natal</h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=Av.%20Dr.%20Jo%C3%A3o%20Medeiros%20Filho%2C%20S%2FN%20-%20Potengi%2C%20Natal%20-%20RN%2C%2059110-200" target="_blank" rel="noopener noreferrer">
          Av. Dr. João Medeiros Filho, S/N - Potengi, Natal - RN, 59110-200.
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 3232-5468.</span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Parnamirim </h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=Av.%20Dr.%20%C3%81tila%20Paiva%2C%2069%20-%20Cohabinal%2C%20Parnamirim%20-%20RN%2C%2059140-700" target="_blank" rel="noopener noreferrer">
          Av. Dr. Átila Paiva, 69 - Cohabinal, Parnamirim - RN, 59140-700
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 98123-4114.</span>
      </div>
    </div>
  </div>


  <h1>Delegacia Especializada de Atendimento à Mulher no interior do estado</h1>
  <div class="grid">
    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Mossoró </h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=R.%20Julita%20G.%20Sena%2C%20241%20-%20Nova%20Bet%C3%A2nia%2C%20Mossor%C3%B3%20-%20RN%2C%2059611-440" target="_blank" rel="noopener noreferrer">
          R. Julita G. Sena, 241 - Nova Betânia, Mossoró - RN, 59611-440
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 3315-3536</span>
      </div>
    </div>

    <div class="card">
      <h1 class="title">Delegacia Especializada de Atendimento à Mulher em Caicó </h1>
      
      <div class="info-row">
        <a class="label" href="https://www.google.com/maps/search/?api=1&query=Rua%20Dom%20Adelino%20Dantas%2C%20Cidade%20Judici%C3%A1ria%2C%20Maynard%2C%20Caic%C3%B3%2FRN%2C%20CEP.%3A%2059.300%2C%2000000" target="_blank" rel="noopener noreferrer">
          Rua Dom Adelino Dantas, Cidade Judiciária, Maynard, Caicó/RN, CEP.: 59.300, 00000
        </a>
      </div>
      <div class="info-row">
        <span class="label">Telefone: (84) 98164-9513</span>
      </div>
    </div>
  </div>
</div>
</main>