<footer class="footer">
  <div class="footer-div footer-div-left">
    <p>emergencia?</p>
    <h1><span>LIGUE 180</span></h1>
  </div>

  <div class="footer-div footer-div-center">
    <div class="footer-div-center-top">
      <h1>Ajuda</h1>
    </div>

    <div class="footer-div-center-bottom">
      <ul class="links">
        <li><a routerLink="/quem-somos">Sobre nós</a></li>
        <li><a routerLink="/apoie">Seja apoiador</a></li>
        <li><a routerLink="/voluntario">Seja voluntário</a></li>
        <li><a routerLink="/materiais">Conheça seus direitos</a></li>
      </ul>
    </div>
  </div>
</footer>
