<app-header></app-header>

<main id="main">
    <section class="">
        <div>
            <header class="title">
                <h1>Mural de Força</h1>
            </header>
        </div>

        <div id="buscar">
            <button routerLink="/relato" routerLinkActive="router-link-active">Publicar um Relato</button>
          </div>
          <!--         
        <div id="pesquisar">
            <input type="text" [(ngModel)]="pesquisa" placeholder="Pesquisar por relato...">
        </div> -->


        <div id="relatos" class="">
          <ng-container *ngIf="relatos && relatos.length > 0; else semRelatos">
            <div class="grid-relatos">
              <div *ngFor="let relato of relatos">
                <p-card [style]="{ width: '18rem', height:'18rem', overflow: 'hidden', display: 'flex', flexDirection: 'column' }">
                  <div class="relato-conteudo" [innerHTML]="sanitizeHTML(relato.conteudo | truncate:250)" style="flex-grow: 1;"></div>
                  <ng-template pTemplate="footer">
                      <a [routerLink]="['/relato', relato.id]" class="vermais" [style]="{ padding: '0px'}">Ver mais...</a>
                  </ng-template>
                </p-card>
              </div>
            </div>
          </ng-container>
            
            <ng-template #semRelatos>
              <div class="bodycard">
                <div class="sem-relatos">
                  <p>Nenhum relato publicado ainda.</p>
                </div>
              </div>
            </ng-template>
        </div>
    </section>
</main>

