<main class="borda0">
  
  
    <div class="main-div main-div1 banner">
        <app-header></app-header>
      <div class="borda0 main-div1-right">
        <div class="borda0 main-div1-right-top">
          <p>
            Enfrentando o medo e o silêncio <br>com
            <span>conscientização e empoderamento,</span><br />para  juntos
            <span> combatermos</span> a violência contra a mulher,<br> no estado do Rio Grande do Norte.
          </p>
        </div>
        <div class="borda0 main-div1-right-bottom">
          <button routerLink="/redeapoio" id="denuncia-banner" class="button-main">
              Saiba como Denunciar
          </button>
        </div>
      </div>
    </div>

  <div class="mural">
    <div class="main-div2 borda0">
      <div class="main-div2-left borda0">
        <img src="/images/femin.png">
      </div>
      <div class="main-div2-right borda0">
        <div class="main-div2-right-top borda0">
          <p>Conhecer uma história de <span>superação</span> à violência<br> 
            pode trazer apoio e ainda <span>salvar mulheres!</span><br>
            Publique um relato no nosso <span>Mural de Força</span><br> 
            e compartilhe histórias reais  de <span>superação</span><br> de mulheres que sofreram violência.
            
          </p>
        </div>
        <div class="main-div2-right-bottom borda0">
          <a style="text-decoration: none; color: inherit;display: block;" src="/">
          <button id="relato" class="button-main" routerLink="/muraldeforca">
              Mural de Força
            </button>
          </a>
        </div>
        
      </div>
    </div>
  </div>

    <app-material></app-material>