

<div class="body">
    <div class="bloco">
        <p>Saiba como identificar todos os tipos de violência!</p>
    </div>  
    <div class="material-body">
        <div class="material">
            <img src="/images/agc-fisica.png">
            <h2 class="title">VIOLÊNCIA FÍSICA</h2>
            <p class="subtitle">
                Qualquer ação que ofenda a integridade ou saúde corporal da mulher, como:
            </p>
            <ul class="list">
                <li>Espancamento</li>
                <li>Atirar objetos</li>
                <li>Sacudir e apertar os braços</li>
                <li>Estrangulamento ou sufocamento</li>
                <li>Lesões com objetos cortantes ou perfurantes</li>
                <li>Ferimentos causados por queimaduras ou armas de fogo</li>
                <li>Tortura</li>
            </ul>
        </div>
        <div class="material">
            <img src="/images/agc-moral.png">
            <h2 class="title">VIOLÊNCIA MORAL</h2>
            <p class="subtitle">
                Qualquer ação que configure calúnia, injúria ou difamação à mulher, como:
            </p>
            <ul class="list">
                <li>Acusar a mulher de traição</li>
                <li>Emitir juízos morais sobre sua conduta</li>
                <li>Fazer críticas mentirosas</li>
                <li>Expor a vida íntima</li>
                <li>Rebaixar a mulher por meio de xingamentos que incidem sobre a sua índole</li>
                <li>Desvalorizar a vítima pelo seu modo de se vestir</li>
            </ul>
        </div>
        <div class="material">
            <img src="/images/agc-psico.png">
            <h2 class="title">VIOLÊNCIA PSICOLÓGICA</h2>
            <p class="subtitle">
                Qualquer ação que cause prejuízo à saúde psicológica e à autodeterminação, como:
            </p>
            <ul class="list">
                <li>Ameaça, constrangimento, insulto</li>
                <li>Humilhação, exploração, manipulação</li>
                <li>Ridicularização, isolamento, chantagem</li>
                <li>Vigilância constante, perseguição obsessiva (física ou digital)</li>
                <li>Limitação do direito de ir e vir</li>
                <li>Limitação da liberdade de crença</li>
                <li>Distorcer e omitir fatos para deixar a mulher em dúvida sobre a sua memória e sanidade (gaslighting)</li>
            </ul>
        </div>
        <div class="material">
            <img src="/images/agc-sex.png">
            <h2 class="title">VIOLÊNCIA SEXUAL</h2>
            <p class="subtitle">
                Qualquer ação que limite o exercício dos direitos sexuais ou reprodutivos, como:
            </p>
            <ul class="list">
                <li>Estupro, obrigar a mulher a presenciar ou participar de relação sexual indesejada</li>
                <li>Obrigar a mulher a presenciar ou participar de atos sexuais que causam desconforto ou repulsa</li>
                <li>Forçar aborto, matrimônio, gravidez ou prostituição por meio de coação, impedir uso de métodos contraceptivos, chantagem, suborno ou manipulação</li>
            </ul>
        </div>
    </div>
</div>