body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .main-content {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  
  main {
    width: 30%;
    text-align: center;
    background: linear-gradient(to bottom, white, transparent);
    border-radius: 30px;
    /* position: relative; */
  }
  
  main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  
  .div-form {
    height: auto;
    width: auto;
    border-radius: 28px; /* Ligeiramente menor que o main para evitar sobreposição */
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  }
  


form {
    width: 100%;
    height: 100%;
    padding: 15px 70px;  
    text-align: left;   
    box-sizing: border-box;
}

.button-disabled {
    background-color: #d3d3d3; /* Cor cinza */
    cursor: not-allowed; /* Indica que o botão não pode ser clicado */
    color: #a0a0a0; /* Texto mais claro */
    box-shadow: none;
  }
  

form h1 {
    margin-bottom: 5px;
    text-align: center;
  }
  
  input[type='text'], input[type='password'], input[type='email'], input[type='tel'], textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 80px; /* Altura ajustável */
    resize: none;
  }
  
  button {
    background-color: rgba(255, 90, 90, 1);
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  button:hover {
    background-color: rgba(255, 100, 100, 1);
  }
  
  button:active {
    opacity: 0.8;
  }
  
  #submeter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .cancelar {
    background-color: #ccc;
    color: #333;
  }
  
  .cancelar:hover {
    background-color: #bbb;
  }
  
  .mensagem {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.1);
    color: #006400;
    text-align: center;
    border: 1px solid rgba(0, 128, 0, 0.5);
    border-radius: 5px;
    font-weight: bold;
  }


  .alert {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .alert-success {
    background-color: #28a745;
    color: white;
  }
  
  .alert-danger {
    background-color: #dc3545;
    color: white;
  }
  
  