/* Consolidated Form Styles */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.main-content {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

main {
  text-align: center;
  border-radius: 30px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.div-form {
  height: auto;
  width: auto;
  border-radius: 28px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

form {
  width: 100%;
  height: 100%;
  padding: 15px 70px;
  text-align: left;
  box-sizing: border-box;
}

form h1 {
  margin-bottom: 5px;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  margin-bottom: 15px;
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 80px;
  resize: none;
}

.button-disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  color: #a0a0a0;
  box-shadow: none;
}

#submeter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#redef-senha {
  color: #ff6464;
  font-size: small;
  transition: color 0.3s;
}

#D-redef-senha {
  display: flex;
  justify-content: flex-end;
}

#sem-conta {
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  color: #ff6464;
  text-decoration: none;
  transition: color 0.3s;
  font-size: small;
}

a:hover {
  color: #ff5252;
}

.cancelar {
  background-color: #ccc;
  color: #333;
}

.cancelar:hover {
  background-color: #bbb;
}

.mensagem {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 128, 0, 0.1);
  color: #006400;
  text-align: center;
  border: 1px solid rgba(0, 128, 0, 0.5);
  border-radius: 5px;
  font-weight: bold;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.alert-success {
  background-color: #28a745;
  color: white;
}

.alert-danger {
  background-color: #dc3545;
  color: white;
}
