/* Shared form styles across components */

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

main {
  width: 20%;
  text-align: center;
  border-radius: 30px;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.div-form {
  height: auto;
  width: auto;
  border-radius: 28px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

form {
  width: 100%;
  height: 100%;
  padding: 15px 70px;
  text-align: left;
  box-sizing: border-box;
}

form h1 {
  margin-bottom: 5px;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  background-color: rgba(255, 90, 90, 1);
  border: none;
  padding: 10px 20px;
  margin: 4px 2px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

button:hover {
  background-color: rgba(255, 100, 100, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: rgba(255, 80, 80, 0.8);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
  color: #a0a0a0;
  box-shadow: none;
}
