/* Shared button styles across components */

button {
  background-color: rgba(255, 90, 90, 1);
  border: none;
  padding: 10px 20px;
  margin: 4px 2px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

button:hover {
  background-color: rgba(255, 100, 100, 1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: rgba(255, 100, 110, 0.2);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background-color: #d44e5a;
  padding: 20px;
  width: 260px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 19.2px;
  text-align: center;
  text-decoration: none;
  font-style: oblique;
}

.button-primary:hover {
  background-color: rgba(255, 100, 100, 1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button-primary:active {
  background-color: rgba(255, 100, 110, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button-secondary {
  background-color: rgba(255, 70, 70, 1);
  padding: 10px 5px;
  width: 280px;
  height: 53px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-secondary:hover {
  background-color: rgba(255, 100, 100, 1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button-secondary:active {
  background-color: rgba(255, 100, 110, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
