<header>
    <div class="borda0 header-div-logo">
        <a routerLink="/">
            <img id="logo" src="MarcaGrafica.png" alt="DAMA - Defesa e Apoio às Mulheres Agredidas"/>
        </a>
    </div>
    <nav class="borda0 header-nav">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/muraldeforca">Mural de Força</a></li>
            <li><a routerLink="/redeapoio">Conheça seus direitos</a></li> 
        </ul>
    </nav>
    <button id="btn-cadastro" class="button-header"  *ngIf="!authService.isLoggedIn()" routerLink="/cadastro">Cadastre-se</button>
    <div class="borda0 header-div-right">
        <button
          id="header-login"
          class="button-header"
          *ngIf="authService.isLoggedIn()"
          (click)="authService.logout()"
        >
          Logout
        </button>
        
        <button
          id="header-login"
          class="button-header"
          *ngIf="!authService.isLoggedIn()"
          routerLink="/login"
        >
          Entrar
        </button>
      </div>
      
</header>